<a href="https://colab.research.google.com/github/tetiana-kholod/a-b-test/blob/main/a_b_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###In this work, the statistical significance of differences in key metrics between test and control groups was evaluated across four separate A/B tests, and the results were summarized in a structured final table.

###[View Tableau Dashboard](https://public.tableau.com/app/profile/tetiana.kholod/viz/ABtestingtoolCalculator/ABtest)

In [131]:
#!pip install --upgrade google-cloud-bigquery

In [132]:
from google.cloud import bigquery
from google.oauth2 import service_account
from google.colab import auth

import matplotlib.pyplot as plt
from matplotlib import ticker
import numpy as np
import pandas as pd
from scipy.stats import normaltest, shapiro
from scipy.stats import norm

In [133]:
auth.authenticate_user()

In [134]:
client = bigquery.Client(project="data-analytics-mate")

In [135]:
query = """

with session_info as (
  SELECT
    s.date,
    s.ga_session_id,
    sp,country,
    sp.device,
    sp.continent,
    sp.channel,
    ab.test,
    ab.test_group
  FROM `DA.ab_test` as ab
  join `DA.session_params` as sp
  on ab.ga_session_id = sp.ga_session_id
  join `DA.session` as s
  on s.ga_session_id = ab.ga_session_id
),
session_with_order as (
  SELECT
   session_info.date,
   session_info.country,
   session_info.device,
   session_info.continent,
   session_info.channel,
   session_info.test,
   session_info.test_group,
   count (DISTINCT o.ga_session_id) as session_with_order
  FROM `DA.order` as o
  join session_info
  ON o.ga_session_id = session_info.ga_session_id
  GROUP BY
   session_info.date,
   session_info.country,
   session_info.device,
   session_info.continent,
   session_info.channel,
   session_info.test,
   session_info.test_group
),
events as(
  SELECT
   session_info.date,
   session_info.country,
   session_info.device,
   session_info.continent,
   session_info.channel,
   session_info.test,
   session_info.test_group,
   sp.event_name,
   count (sp.ga_session_id) as events_cnt
  FROM `DA.event_params` as sp
  JOIN session_info
  ON session_info.ga_session_id = sp.ga_session_id
  GROUP BY
   session_info.date,
   session_info.country,
   session_info.device,
   session_info.continent,
   session_info.channel,
   session_info.test,
   session_info.test_group,
   sp.event_name
),
sessions as (
  SELECT
   session_info.date,
   session_info.country,
   session_info.device,
   session_info.continent,
   session_info.channel,
   session_info.test,
   session_info.test_group,
   count (DISTINCT session_info.ga_session_id) as sessions_cnt
  FROM session_info
  GROUP BY
   session_info.date,
   session_info.country,
   session_info.device,
   session_info.continent,
   session_info.channel,
   session_info.test,
   session_info.test_group
),
accounts as(
  SELECT
   session_info.date,
   session_info.country,
   session_info.continent,
   session_info.device,
   session_info.channel,
   session_info.test,
   session_info.test_group,
   count (acs.ga_session_id) as new_accounts_cnt
  FROM `DA.account_session` as acs
  JOIN session_info
  ON session_info.ga_session_id = acs.ga_session_id
  GROUP BY
   session_info.date,
   session_info.country,
   session_info.device,
   session_info.continent,
   session_info.channel,
   session_info.test,
   session_info.test_group
)


SELECT
session_with_order.date,
   session_with_order.continent,
   session_with_order.country,
   session_with_order.device,
   session_with_order.channel,
   session_with_order.test,
   session_with_order.test_group,
   'session_with_order' as event_name,
   session_with_order.session_with_order as value
FROM session_with_order
UNION ALL


SELECT
events.date,
   events.continent,
   events.country,
   events.device,
   events.channel,
   events.test,
   events.test_group,
   events.event_name,
   events.events_cnt as value
FROM events


UNION ALL
SELECT
   accounts.date,
   accounts.continent,
   accounts.country,
   accounts.device,
   accounts.channel,
   accounts.test,
   accounts.test_group,
   'new_accounts' as event_name,
   accounts.new_accounts_cnt as value
FROM accounts


UNION ALL
SELECT
   sessions.date,
   sessions.continent,
   sessions.country,
   sessions.device,
   sessions.channel,
   sessions.test,
   sessions.test_group,
   'sessions' as event,
   sessions_cnt as value
   FROM sessions
"""

In [136]:
query_job = client.query(query)  # Execution of SQL query
results = query_job.result()  # Waiting for query to complete

In [137]:
data = results.to_dataframe()

In [138]:
data.head(1)

,date,continent,country,device,channel,test,test_group,event_name,value
0,2020-12-08,Asia,Palestine,desktop,Direct,4,2,new_accounts,1

#METRICS

add_payment_info / session  
add_shipping_info / session  
begin_checkout / session  
new_accounts / session

In [139]:
#data["event_name"].unique()

In [140]:
#List of Events
events_list = list(data["event_name"].unique())
print(events_list)

['new_accounts', 'session_with_order', 'user_engagement', 'session_start', 'first_visit', 'page_view', 'scroll', 'view_item', 'view_promotion', 'view_search_results', 'begin_checkout', 'add_shipping_info', 'add_to_cart', 'select_item', 'select_promotion', 'add_payment_info', 'click', 'sessions', 'view_item_list']

In [141]:
#to add columns for events (1 / 0)
results = data
events_list = list(data["event_name"].unique())
for event in events_list:
    results[event] = ((results['event_name'] == event).astype(int)) * results['value']
results.head()

,date,continent,country,device,channel,test,test_group,event_name,value,new_accounts,...,view_search_results,begin_checkout,add_shipping_info,add_to_cart,select_item,select_promotion,add_payment_info,click,sessions,view_item_list
0,2020-12-08,Asia,Palestine,desktop,Direct,4,2,new_accounts,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2020-12-08,Asia,Palestine,desktop,Direct,3,2,new_accounts,1,1,...,0,0,0,0,0,0,0,0,0,0
2,2020-11-06,Americas,Puerto Rico,desktop,Social Search,2,2,new_accounts,1,1,...,0,0,0,0,0,0,0,0,0,0
3,2020-11-06,Americas,Puerto Rico,desktop,Social Search,1,1,new_accounts,1,1,...,0,0,0,0,0,0,0,0,0,0
4,2020-12-08,Europe,Croatia,desktop,Direct,4,2,new_accounts,1,1,...,0,0,0,0,0,0,0,0,0,0

In [142]:
#Define the total number of events by test and group
results_grouped_by_test_group = results.groupby(['test', 'test_group'])[events_list].sum()
results_grouped_by_test_group.head()

                 new_accounts  session_with_order  user_engagement  \
test test_group
1    1                   3823                4514           171788
     2                   3681                4526           179081
2    1                   4165                5102           198266
     2                   4184                5003           189931
3    1                   5856                6951           249921

                 session_start  first_visit  page_view  scroll  view_item  \
test test_group
1    1                   45905        30596     191543   73244      62335
     2                   45649        30512     198050   73376      65337
2    1                   51219        34511     220275   80713      72717
     2                   50808        34171     212320   81370      68700
3    1                   71312        50438     286351  110360      93931

                 view_promotion  view_search_results  begin_checkout  \
test test_group
1    1                    29188                 3678            3784
     2                    29117                 3882            4021
2    1                    32367                 4282            4262
     2                    31680                 4198            4313
3    1                    41169                 5764            9532

                 add_shipping_info  add_to_cart  select_item  \
test test_group
1    1                        3034         1395          543
     2                        3221         1366          530
2    1                        3480         2811          905
     2                        3510         3061          946
3    1                        5298        17674         8735

                 select_promotion  add_payment_info  click  sessions  \
test test_group
1    1                       1275              1988    368     45362
     2                       1323              2229    353     45193
2    1                       1477              2344    337     50637
     2                       1406              2409    413     50244
3    1                       2020              3623    280     70047

                 view_item_list
test test_group
1    1                       27
     2                       24
2    1                       24
     2                       29
3    1                        9

In [143]:
results_grouped_by_test_group = results_grouped_by_test_group.reset_index()
results_grouped_by_test_group['test'] = results_grouped_by_test_group['test'].ffill()
results_grouped_by_test_group.head()

,test,test_group,new_accounts,session_with_order,user_engagement,session_start,first_visit,page_view,scroll,view_item,...,view_search_results,begin_checkout,add_shipping_info,add_to_cart,select_item,select_promotion,add_payment_info,click,sessions,view_item_list
0,1,1,3823,4514,171788,45905,30596,191543,73244,62335,...,3678,3784,3034,1395,543,1275,1988,368,45362,27
1,1,2,3681,4526,179081,45649,30512,198050,73376,65337,...,3882,4021,3221,1366,530,1323,2229,353,45193,24
2,2,1,4165,5102,198266,51219,34511,220275,80713,72717,...,4282,4262,3480,2811,905,1477,2344,337,50637,24
3,2,2,4184,5003,189931,50808,34171,212320,81370,68700,...,4198,4313,3510,3061,946,1406,2409,413,50244,29
4,3,1,5856,6951,249921,71312,50438,286351,110360,93931,...,5764,9532,5298,17674,8735,2020,3623,280,70047,9

METRICS  

add_payment_info / session  

add_shipping_info / session  

begin_checkout / session  

new_accounts / session

In [144]:
test_list = results_grouped_by_test_group["test"].unique()
test_group_list = results_grouped_by_test_group["test_group"].unique()
#events_list_project2 = ["add_payment_info", "add_shipping_info", "begin_checkout", "new_accounts"]

final_table = pd.DataFrame()
for test in test_list:

    results_test_group1 = results_grouped_by_test_group[(results_grouped_by_test_group["test"] == test) & (results_grouped_by_test_group["test_group"] == 1)]
    results_test_group2 = results_grouped_by_test_group[(results_grouped_by_test_group["test"] == test) & (results_grouped_by_test_group["test_group"] == 2)]

    for event in events_list: #events_list_project2


        # to create one row
        new_row_1 = {
        "test_number": test,
            #"test_group": test_group,

        "metric": f"{event} / session",
        "numerator_event": event,
        "denominator_event": "session",
        "numerator_control": results_test_group1[event].iloc[0],
        "denominator_control": results_test_group1["sessions"].iloc[0],
        "conversion_control": results_test_group1[event].iloc[0] / results_test_group1["sessions"].iloc[0],
        "numerator_test": results_test_group2[event].iloc[0],
        "denominator_test": results_test_group2["sessions"].iloc[0],
        "conversion_test": results_test_group2[event].iloc[0] / results_test_group2["sessions"].iloc[0],

        "metric_change": (),
        "z_stat": (),
        "p_value": (),
        "significant": (),

        "dimension": "total",
        "dimension_value": "total"
        }

        final_table = pd.concat([final_table, pd.DataFrame([new_row_1])], ignore_index=True)
#final_table["dimension"] = "total"
#final_table["dimension_value"] = "total"

final_table.head(50)

,test_number,metric,numerator_event,denominator_event,numerator_control,denominator_control,conversion_control,numerator_test,denominator_test,conversion_test,metric_change,z_stat,p_value,significant,dimension,dimension_value
0,1,new_accounts / session,new_accounts,session,3823,45362,0.084278,3681,45193,0.081451,(),(),(),(),total,total
1,1,session_with_order / session,session_with_order,session,4514,45362,0.099511,4526,45193,0.100148,(),(),(),(),total,total
2,1,user_engagement / session,user_engagement,session,171788,45362,3.787046,179081,45193,3.962583,(),(),(),(),total,total
3,1,session_start / session,session_start,session,45905,45362,1.011970,45649,45193,1.010090,(),(),(),(),total,total
4,1,first_visit / session,first_visit,session,30596,45362,0.674485,30512,45193,0.675149,(),(),(),(),total,total
5,1,page_view / session,page_view,session,191543,45362,4.222543,198050,45193,4.382316,(),(),(),(),total,total
6,1,scroll / session,scroll,session,73244,45362,1.614655,73376,45193,1.623614,(),(),(),(),total,total
7,1,view_item / session,view_item,session,62335,45362,1.374168,65337,45193,1.445733,(),(),(),(),total,total
8,1,view_promotion / session,view_promotion,session,29188,45362,0.643446,29117,45193,0.644281,(),(),(),(),total,total
9,1,view_search_results / session,view_search_results,session,3678,45362,0.081081,3882,45193,0.085898,(),(),(),(),total,total
10,1,begin_checkout / session,begin_checkout,session,3784,45362,0.083418,4021,45193,0.088974,(),(),(),(),total,total
11,1,add_shipping_info / session,add_shipping_info,session,3034,45362,0.066884,3221,45193,0.071272,(),(),(),(),total,total
12,1,add_to_cart / session,add_to_cart,session,1395,45362,0.030753,1366,45193,0.030226,(),(),(),(),total,total
13,1,select_item / session,select_item,session,543,45362,0.011970,530,45193,0.011727,(),(),(),(),total,total
14,1,select_promotion / session,select_promotion,session,1275,45362,0.028107,1323,45193,0.029274,(),(),(),(),total,total
15,1,add_payment_info / session,add_payment_info,session,1988,45362,0.043825,2229,45193,0.049322,(),(),(),(),total,total
16,1,click / session,click,session,368,45362,0.008113,353,45193,0.007811,(),(),(),(),total,total
17,1,sessions / session,sessions,session,45362,45362,1.000000,45193,45193,1.000000,(),(),(),(),total,total
18,1,view_item_list / session,view_item_list,session,27,45362,0.000595,24,45193,0.000531,(),(),(),(),total,total
19,2,new_accounts / session,new_accounts,session,4165,50637,0.082252,4184,50244,0.083274,(),(),(),(),total,total
20,2,session_with_order / session,session_with_order,session,5102,50637,0.100756,5003,50244,0.099574,(),(),(),(),total,total
21,2,user_engagement / session,user_engagement,session,198266,50637,3.915437,189931,50244,3.780173,(),(),(),(),total,total
22,2,session_start / session,session_start,session,51219,50637,1.011494,50808,50244,1.011225,(),(),(),(),total,total
23,2,first_visit / session,first_visit,session,34511,50637,0.681537,34171,50244,0.680101,(),(),(),(),total,total
24,2,page_view / session,page_view,session,220275,50637,4.350080,212320,50244,4.225778,(),(),(),(),total,total
25,2,scroll / session,scroll,session,80713,50637,1.593953,81370,50244,1.619497,(),(),(),(),total,total
26,2,view_item / session,view_item,session,72717,50637,1.436045,68700,50244,1.367327,(),(),(),(),total,total
27,2,view_promotion / session,view_promotion,session,32367,50637,0.639197,31680,50244,0.630523,(),(),(),(),total,total
28,2,view_search_results / session,view_search_results,session,4282,50637,0.084563,4198,50244,0.083552,(),(),(),(),total,total
29,2,begin_checkout / session,begin_checkout,session,4262,50637,0.084168,4313,50244,0.085841,(),(),(),(),total,total
30,2,add_shipping_info / session,add_shipping_info,session,3480,50637,0.068724,3510,50244,0.069859,(),(),(),(),total,total
31,2,add_to_cart / session,add_to_cart,session,2811,50637,0.055513,3061,50244,0.060923,(),(),(),(),total,total
32,2,select_item / session,select_item,session,905,50637,0.017872,946,50244,0.018828,(),(),(),(),total,total
33,2,select_promotion / session,select_promotion,session,1477,50637,0.029168,1406,50244,0.027983,(),(),(),(),total,total
34,2,add_payment_info / session,add_payment_info,session,2344,50637,0.046290,2409,50244,0.047946,(),(),(),(),total,total
35,2,click / session,click,session,337,50637,0.006655,413,50244,0.008220,(),(),(),(),total,total
36,2,sessions / session,sessions,session,50637,50637,1.000000,50244,50244,1.000000,(),(),(),(),total,total
37,2,view_item_list / session,view_item_list,session,24,50637,0.000474,29,50244,0.000577,(),(),(),(),total,total
38,3,new_accounts / session,new_accounts,session,5856,70047,0.083601,5822,70439,0.082653,(),(),(),(),total,total
39,3,session_with_order / session,session_with_order,session,6951,70047,0.099233,7151,70439,0.101520,(),(),(),(),total,total
40,3,user_engagement / session,user_engagement,session,249921,70047,3.567904,248325,70439,3.525391,(),(),(),(),total,total
41,3,session_start / session,session_start,session,71312,70047,1.018059,71686,70439,1.017703,(),(),(),(),total,total
42,3,first_visit / session,first_visit,session,50438,70047,0.720059,50728,70439,0.720169,(),(),(),(),total,total
43,3,page_view / session,page_view,session,286351,70047,4.087984,284287,70439,4.035932,(),(),(),(),total,total
44,3,scroll / session,scroll,session,110360,70047,1.575514,109564,70439,1.555445,(),(),(),(),total,total
45,3,view_item / session,view_item,session,93931,70047,1.340971,92841,70439,1.318034,(),(),(),(),total,total
46,3,view_promotion / session,view_promotion,session,41169,70047,0.587734,40959,70439,0.581482,(),(),(),(),total,total
47,3,view_search_results / session,view_search_results,session,5764,70047,0.082288,5619,70439,0.079771,(),(),(),(),total,total
48,3,begin_checkout / session,begin_checkout,session,9532,70047,0.136080,9264,70439,0.131518,(),(),(),(),total,total
49,3,add_shipping_info / session,add_shipping_info,session,5298,70047,0.075635,5188,70439,0.073652,(),(),(),(),total,total

In [145]:
devices_list = results["device"].unique()
#print(devices_list)
for device in devices_list:
    results_grouped_by_test_group_devices = results[results["device"] == device].groupby(['test', 'test_group'])[events_list].sum()

    results_grouped_by_test_group_devices = results_grouped_by_test_group_devices.reset_index()
    results_grouped_by_test_group_devices['test'] = results_grouped_by_test_group_devices['test'].ffill()

    for test in test_list:

        results_test_devices_group_1 = results_grouped_by_test_group_devices[(results_grouped_by_test_group_devices["test"] == test) & (results_grouped_by_test_group_devices["test_group"] == 1)]
        results_test_devices_group_2 = results_grouped_by_test_group_devices[(results_grouped_by_test_group_devices["test"] == test) & (results_grouped_by_test_group_devices["test_group"] == 2)]

        for event in events_list:  #events_list_project2


            # to create one row
            new_row_2 = {
            "test_number": test,
            #"test_group": test_group,

            "metric": f"{event} / session",
            "numerator_event": event,
            "denominator_event": "session",
            "numerator_control": results_test_devices_group_1[event].iloc[0],
            "denominator_control": results_test_devices_group_1["sessions"].iloc[0],
            "conversion_control": results_test_devices_group_1[event].iloc[0] / results_test_devices_group_1["sessions"].iloc[0],
            "numerator_test": results_test_devices_group_2[event].iloc[0],
            "denominator_test": results_test_devices_group_2["sessions"].iloc[0],
            "conversion_test": results_test_devices_group_2[event].iloc[0] / results_test_devices_group_2["sessions"].iloc[0],

            "metric_change": (),
            "z_stat": (),
            "p_value": (),
            "significant": (),

            "dimension": "device",
            "dimension_value": device
            }

            final_table = pd.concat([final_table, pd.DataFrame([new_row_2])], ignore_index=True)



#final_table["metric_change"] = final_table["conversion_test"] / final_table["conversion_control"] - 1
final_table.head(150)

,test_number,metric,numerator_event,denominator_event,numerator_control,denominator_control,conversion_control,numerator_test,denominator_test,conversion_test,metric_change,z_stat,p_value,significant,dimension,dimension_value
0,1,new_accounts / session,new_accounts,session,3823,45362,0.084278,3681,45193,0.081451,(),(),(),(),total,total
1,1,session_with_order / session,session_with_order,session,4514,45362,0.099511,4526,45193,0.100148,(),(),(),(),total,total
2,1,user_engagement / session,user_engagement,session,171788,45362,3.787046,179081,45193,3.962583,(),(),(),(),total,total
3,1,session_start / session,session_start,session,45905,45362,1.011970,45649,45193,1.010090,(),(),(),(),total,total
4,1,first_visit / session,first_visit,session,30596,45362,0.674485,30512,45193,0.675149,(),(),(),(),total,total
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,4,add_to_cart / session,add_to_cart,session,12708,61484,0.206688,12959,61436,0.210935,(),(),(),(),device,desktop
146,4,select_item / session,select_item,session,7352,61484,0.119576,7216,61436,0.117456,(),(),(),(),device,desktop
147,4,select_promotion / session,select_promotion,session,1584,61484,0.025763,1572,61436,0.025588,(),(),(),(),device,desktop
148,4,add_payment_info / session,add_payment_info,session,2211,61484,0.035961,2046,61436,0.033303,(),(),(),(),device,desktop
149,4,click / session,click,session,181,61484,0.002944,179,61436,0.002914,(),(),(),(),device,desktop

In [146]:
channel_list = results["channel"].unique()
#print(devices_list)
for channel in channel_list:
    results_grouped_by_test_group_channels = results[results["channel"] == channel].groupby(['test', 'test_group'])[events_list].sum()

    results_grouped_by_test_group_channels = results_grouped_by_test_group_channels.reset_index()
    results_grouped_by_test_group_channels['test'] = results_grouped_by_test_group_channels['test'].ffill()

    for test in test_list:

        results_test_channels_group_1 = results_grouped_by_test_group_channels[(results_grouped_by_test_group_channels["test"] == test) & (results_grouped_by_test_group_channels["test_group"] == 1)]
        results_test_channels_group_2 = results_grouped_by_test_group_channels[(results_grouped_by_test_group_channels["test"] == test) & (results_grouped_by_test_group_channels["test_group"] == 2)]

        for event in events_list:  #events_list_project2


            # to create one row
            new_row_3 = {
            "test_number": test,
            #"test_group": test_group,

            "metric": f"{event} / session",
            "numerator_event": event,
            "denominator_event": "session",
            "numerator_control": results_test_channels_group_1[event].iloc[0],
            "denominator_control": results_test_channels_group_1["sessions"].iloc[0],
            "conversion_control": results_test_channels_group_1[event].iloc[0] / results_test_channels_group_1["sessions"].iloc[0],
            "numerator_test": results_test_channels_group_2[event].iloc[0],
            "denominator_test": results_test_channels_group_2["sessions"].iloc[0],
            "conversion_test": results_test_channels_group_2[event].iloc[0] / results_test_channels_group_2["sessions"].iloc[0],

            "metric_change": (),
            "z_stat": (),
            "p_value": (),
            "significant": (),

            "dimension": "channel",
            "dimension_value": channel
            }

            final_table = pd.concat([final_table, pd.DataFrame([new_row_3])], ignore_index=True)

final_table["metric_change"] = final_table["conversion_test"] / final_table["conversion_control"] - 1
final_table.head(15)

,test_number,metric,numerator_event,denominator_event,numerator_control,denominator_control,conversion_control,numerator_test,denominator_test,conversion_test,metric_change,z_stat,p_value,significant,dimension,dimension_value
0,1,new_accounts / session,new_accounts,session,3823,45362,0.084278,3681,45193,0.081451,-0.033543,(),(),(),total,total
1,1,session_with_order / session,session_with_order,session,4514,45362,0.099511,4526,45193,0.100148,0.006408,(),(),(),total,total
2,1,user_engagement / session,user_engagement,session,171788,45362,3.787046,179081,45193,3.962583,0.046352,(),(),(),total,total
3,1,session_start / session,session_start,session,45905,45362,1.011970,45649,45193,1.010090,-0.001858,(),(),(),total,total
4,1,first_visit / session,first_visit,session,30596,45362,0.674485,30512,45193,0.675149,0.000984,(),(),(),total,total
5,1,page_view / session,page_view,session,191543,45362,4.222543,198050,45193,4.382316,0.037838,(),(),(),total,total
6,1,scroll / session,scroll,session,73244,45362,1.614655,73376,45193,1.623614,0.005548,(),(),(),total,total
7,1,view_item / session,view_item,session,62335,45362,1.374168,65337,45193,1.445733,0.052079,(),(),(),total,total
8,1,view_promotion / session,view_promotion,session,29188,45362,0.643446,29117,45193,0.644281,0.001298,(),(),(),total,total
9,1,view_search_results / session,view_search_results,session,3678,45362,0.081081,3882,45193,0.085898,0.059412,(),(),(),total,total
10,1,begin_checkout / session,begin_checkout,session,3784,45362,0.083418,4021,45193,0.088974,0.066606,(),(),(),total,total
11,1,add_shipping_info / session,add_shipping_info,session,3034,45362,0.066884,3221,45193,0.071272,0.065605,(),(),(),total,total
12,1,add_to_cart / session,add_to_cart,session,1395,45362,0.030753,1366,45193,0.030226,-0.017127,(),(),(),total,total
13,1,select_item / session,select_item,session,543,45362,0.011970,530,45193,0.011727,-0.020291,(),(),(),total,total
14,1,select_promotion / session,select_promotion,session,1275,45362,0.028107,1323,45193,0.029274,0.041527,(),(),(),total,total

In [147]:
country_list = results["country"].unique()
#print(devices_list)
for country in country_list:
    results_grouped_by_test_group_countries = results[results["country"] == channel].groupby(['test', 'test_group'])[events_list].sum()

    results_grouped_by_test_group_countries = results_grouped_by_test_group_countries.reset_index()
    results_grouped_by_test_group_countries['test'] = results_grouped_by_test_group_countries['test'].ffill()

    for test in test_list:

        results_test_countries_group_1 = results_grouped_by_test_group_countries[(results_grouped_by_test_group_countries["test"] == test) & (results_grouped_by_test_group_countries["test_group"] == 1)]
        results_test_countries_group_2 = results_grouped_by_test_group_countries[(results_grouped_by_test_group_countries["test"] == test) & (results_grouped_by_test_group_countries["test_group"] == 2)]

        for event in events_list: #events_list_project2


            # to create one row
            new_row_5 = {
            "test_number": test,
            #"test_group": test_group,

            "metric": f"{event} / session",
            "numerator_event": event,
            "denominator_event": "session",
            "numerator_control": results_test_channels_group_1[event].iloc[0],
            "denominator_control": results_test_channels_group_1["sessions"].iloc[0],
            "conversion_control": results_test_channels_group_1[event].iloc[0] / results_test_channels_group_1["sessions"].iloc[0],
            "numerator_test": results_test_channels_group_2[event].iloc[0],
            "denominator_test": results_test_channels_group_2["sessions"].iloc[0],
            "conversion_test": results_test_channels_group_2[event].iloc[0] / results_test_channels_group_2["sessions"].iloc[0],

            "metric_change": (),
            "z_stat": (),
            "p_value": (),
            "significant": (),

            "dimension": "country",
            "dimension_value": country
            }

            final_table = pd.concat([final_table, pd.DataFrame([new_row_5])], ignore_index=True)

final_table["metric_change"] = final_table["conversion_test"] / final_table["conversion_control"]*100 - 100
final_table.head(10)

,test_number,metric,numerator_event,denominator_event,numerator_control,denominator_control,conversion_control,numerator_test,denominator_test,conversion_test,metric_change,z_stat,p_value,significant,dimension,dimension_value
0,1,new_accounts / session,new_accounts,session,3823,45362,0.084278,3681,45193,0.081451,-3.354299,(),(),(),total,total
1,1,session_with_order / session,session_with_order,session,4514,45362,0.099511,4526,45193,0.100148,0.640785,(),(),(),total,total
2,1,user_engagement / session,user_engagement,session,171788,45362,3.787046,179081,45193,3.962583,4.635176,(),(),(),total,total
3,1,session_start / session,session_start,session,45905,45362,1.011970,45649,45193,1.010090,-0.185807,(),(),(),total,total
4,1,first_visit / session,first_visit,session,30596,45362,0.674485,30512,45193,0.675149,0.098379,(),(),(),total,total
5,1,page_view / session,page_view,session,191543,45362,4.222543,198050,45193,4.382316,3.783804,(),(),(),total,total
6,1,scroll / session,scroll,session,73244,45362,1.614655,73376,45193,1.623614,0.554845,(),(),(),total,total
7,1,view_item / session,view_item,session,62335,45362,1.374168,65337,45193,1.445733,5.207875,(),(),(),total,total
8,1,view_promotion / session,view_promotion,session,29188,45362,0.643446,29117,45193,0.644281,0.129791,(),(),(),total,total
9,1,view_search_results / session,view_search_results,session,3678,45362,0.081081,3882,45193,0.085898,5.941186,(),(),(),total,total

In [148]:

# conversion rate
p1 = final_table["numerator_control"] / final_table["denominator_control"]
p2 = final_table["numerator_test"] / final_table["denominator_test"]

# pooled proportion
p_pool = (final_table["numerator_control"] + final_table["numerator_test"]) / (
    final_table["denominator_control"] + final_table["denominator_test"]
)

# standard error
se = np.sqrt(p_pool * (1 - p_pool) * (1 / final_table["denominator_control"] + 1 / final_table["denominator_test"]))

# z-stat
final_table["z_stat"] = (p2 - p1) / se

# p-value
final_table["p_value"] = 2 * (1 - norm.cdf(np.abs(final_table["z_stat"])))

# signidicance
final_table["significant"] = final_table["p_value"] < 0.05

final_table.head(10)

/usr/local/lib/python3.12/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

,test_number,metric,numerator_event,denominator_event,numerator_control,denominator_control,conversion_control,numerator_test,denominator_test,conversion_test,metric_change,z_stat,p_value,significant,dimension,dimension_value
0,1,new_accounts / session,new_accounts,session,3823,45362,0.084278,3681,45193,0.081451,-3.354299,-1.542883,0.122859,False,total,total
1,1,session_with_order / session,session_with_order,session,4514,45362,0.099511,4526,45193,0.100148,0.640785,0.320049,0.748931,False,total,total
2,1,user_engagement / session,user_engagement,session,171788,45362,3.787046,179081,45193,3.962583,4.635176,NaN,NaN,False,total,total
3,1,session_start / session,session_start,session,45905,45362,1.011970,45649,45193,1.010090,-0.185807,NaN,NaN,False,total,total
4,1,first_visit / session,first_visit,session,30596,45362,0.674485,30512,45193,0.675149,0.098379,0.213130,0.831225,False,total,total
5,1,page_view / session,page_view,session,191543,45362,4.222543,198050,45193,4.382316,3.783804,NaN,NaN,False,total,total
6,1,scroll / session,scroll,session,73244,45362,1.614655,73376,45193,1.623614,0.554845,NaN,NaN,False,total,total
7,1,view_item / session,view_item,session,62335,45362,1.374168,65337,45193,1.445733,5.207875,NaN,NaN,False,total,total
8,1,view_promotion / session,view_promotion,session,29188,45362,0.643446,29117,45193,0.644281,0.129791,0.262409,0.793006,False,total,total
9,1,view_search_results / session,view_search_results,session,3678,45362,0.081081,3882,45193,0.085898,5.941186,2.620256,0.008786,True,total,total

In [149]:
final_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8892 entries, 0 to 8891
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test_number          8892 non-null   int64
 1   metric               8892 non-null   object
 2   numerator_event      8892 non-null   object
 3   denominator_event    8892 non-null   object
 4   numerator_control    8892 non-null   int64
 5   denominator_control  8892 non-null   int64
 6   conversion_control   8892 non-null   float64
 7   numerator_test       8892 non-null   int64
 8   denominator_test     8892 non-null   int64
 9   conversion_test      8892 non-null   float64
 10  metric_change        8454 non-null   float64
 11  z_stat               6093 non-null   float64
 12  p_value              6093 non-null   float64
 13  significant          8892 non-null   bool
 14  dimension            8892 non-null   object
 15  dimension_value      8892 non-null   object
dtypes: bool(1), float64(5), int64(5), object(5)
memory usage: 1.0+ MB

In [150]:
print(final_table["dimension_value"].unique())

['total' 'desktop' 'mobile' 'tablet' 'Direct' 'Social Search'
 'Organic Search' 'Paid Search' 'Undefined' 'Palestine' 'Puerto Rico'
 'Croatia' 'Slovakia' 'Costa Rica' 'Serbia' 'North Macedonia' 'Algeria'
 'Myanmar (Burma)' 'Azerbaijan' 'Nepal' 'New Zealand' 'Belarus' 'Albania'
 'Kuwait' 'Uruguay' 'Lebanon' 'Malta' 'Lithuania' 'Jordan' 'Guatemala'
 'Estonia' 'Bulgaria' 'Dominican Republic' 'Jamaica' 'Georgia' 'Tunisia'
 'Latvia' 'Cambodia' 'Bahamas' 'Bolivia' 'Ecuador' 'Kenya'
 'Bosnia & Herzegovina' 'Iceland' 'El Salvador' 'Kazakhstan' 'Paraguay'
 'Slovenia' 'Ghana' 'Bahrain' 'Venezuela' 'Armenia' 'Mongolia'
 'Luxembourg' 'Kosovo' 'Oman' 'Iraq' 'Panama' 'Cyprus' 'Trinidad & Tobago'
 'Macao' 'Qatar' 'Honduras' '(not set)' 'Argentina' 'Australia' 'Austria'
 'Bangladesh' 'Belgium' 'Brazil' 'Canada' 'Chile' 'China' 'Colombia'
 'Czechia' 'Denmark' 'Egypt' 'Finland' 'France' 'Germany' 'Greece'
 'Hong Kong' 'Hungary' 'India' 'Indonesia' 'Ireland' 'Israel' 'Italy'
 'Japan' 'Malaysia' 'Mexico' 'Morocco' 'Netherlands' 'Nigeria' 'Norway'
 'Pakistan' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Romania'
 'Saudi Arabia' 'Singapore' 'South Africa' 'South Korea' 'Spain'
 'Sri Lanka' 'Sweden' 'Switzerland' 'Taiwan' 'Thailand' 'Turkey' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Vietnam']

In [151]:
final_table.to_csv('temp100.csv', index=False)
!ls /content

drive  sample_data  temp100.csv

In [154]:
from google.colab import drive
drive.mount('/content/drive')
final_table.to_csv('/content/drive/MyDrive/temp100.csv', index=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).